

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body, html{
    margin: 0;
    padding: 0;
    height : 100%; 

}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../image/Umons_background.jpg");
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat; 
    color: white;
    display : flex; /*utile pour pouvoir pousser le footer en bas de page en conjonction avec flex-direction*/
    flex-direction: column;
}
.elms-sans-text {
  font-family : "Elms Sans", sans-serif;
  font-optical-sizing : auto;
  font-weight : normal;
  font-style : normal;
}
main {
    flex : 1;
    display : flex; 
    flex-direction: column;
    overflow-y: auto;
}
/* Style global pour la boite principale */
.boite-register {
    flex : 1; 
    display : flex; 
    flex-direction: column;
    width: 600px; /* Un peu plus large pour être à l'aise */
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.183);
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    
}

h1 {
    text-align: center;
    color: #333;
}

/* Styles pour les messages de succès ou d'erreur */
.message-ok {
    color: green;
    background-color: #dff0d8;
    border: 1px solid green;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.message-ko {
    color: red;
    background-color: #f2dede;
    border: 1px solid red;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

/* Les blocs gris qui regroupent les étapes (1, 2, 3) */
.option-bloc {
    border: 1px solid #ccc;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.183);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    color:#000000;
}

/* Les titres des étapes (ex: "1. Choix de la Catégorie") */
.titre-section {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 15px;
    color: #444;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

/* Le texte "- OU -" */
.separation {
    text-align: center;
    font-weight: bold;
    margin: 5px 0;
    color: #000000; 
}

/* Style des champs input et select */
input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box; /* Pour que le padding ne casse pas la largeur */
}

/* Le bouton de validation */
.submit {
    display: flex;
    width: 30%;
    margin: 15px auto;
    margin-bottom: 5px;
    padding: 12px;
    background: rgba(0, 0, 0, 0.183);
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}

.submit:hover {
    transform: translateY(-3px); /* Les boites remontent de 3px */
    background-color: white;
    color: black;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Une ombre apparait */
}
footer { 
    margin-top: auto;
    flex-shrink : 0; 
    background-color: rgba(150,150,150,0.7);
    width : 100%;   
    font-size : 1.45rem; 
    display : flex; 
    flex-direction : row; 
    justify-content :flex-start;  
    gap : 20px; 
}
footer a {
text-decoration: none;  
color : black; 
font-weight : bold; 
}

footer a:hover {
    color : rgba(255,255,255,1); 
    font-weight : bold; 
}
main::-webkit-scrollbar {
    width: 8px;
}

main::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.05);
    border-radius: 10px;
}

main::-webkit-scrollbar-track {
    background: transparent;
}