

*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body{
    background-image: url('../image/Umons_background.jpg');
    background-size: cover; /* l'image couvre tout l'écran, peu importe la taille de l'écran */
    background-position: center; /* on centre l'image */ 
    background-repeat: no-repeat;
    background-attachment: fixed; /* l'image reste fixe, même si on doit scroller pour atteindre le bas de la page*/

    min-height: 100vh;
    display:flex;
    flex-direction: column; /* INDISPENSABLE POUR QU'IL COEXISTE AVEC LE FOOTER */
    justify-content: center; /* on centre horizontalement */
    align-items: center; /* on centre verticalement */
    font-family: 'Elms Sans', sans-serif; /* Notre police */
    color:rgb(0, 0, 0);
}

table, th, td{
    padding:2rem;
    border-collapse: collapse;
}

main.table{
    width:82vw;
    height:90vh;
    background-color: rgba(255, 255, 255, 0.183); /* Fond noir semi-transparent */
    backdrop-filter: blur(12px);     /* Le flou derrière la boite */
    -webkit-backdrop-filter: blur(12px); /* Idem, mais pour safari (IPhone, MacBook,...) */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.8); /* Ombre portée */   
    border-radius: 20px; /* on arrondi les angles */
    overflow: hidden;
    display:flex;
    flex-direction: column;
    /*padding: 40px;
    width: 90%;
    max-width: 800px; 
    text-align: center;*/
}
 
.table_header{
    width: 100%;
    height: 10%;
    background-color: rgba(167, 164, 164, 0.489);
    padding: .8rem 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.table_body{
    width:95%;
    max-height: calc(89% - .8rem);

    margin: .8rem auto;
    background-color: rgba(255, 255, 255, 0.183); /* Fond noir semi-transparent */
    border-radius: 20px;

    flex:auto;
    min-height: auto;
    overflow:auto;
}

.table_body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;    
}



.table_body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: rgb(106, 106, 107);  
    visibility: visible;
}

table{
    width: 100%;
}

thead th{
    position:sticky;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.183); /* Fond noir semi-transparent */
    cursor: pointer;
    z-index: 10;

}

tbody tr:nth-child(even){
    background-color: #0000000b;
}

h1{

    color:rgb(0, 0, 0); 
}

/* Style des liens transformés en boutons */
.btn-glass {
    display: block; /* on lui dit de se comporter comme un bloc pour qu'il prenne toute la largeur possible */
    text-decoration: none;
    color: white;
    background: rgba(255, 255, 255, 0.1); /* Fond léger */
    padding: 15px 20px;
    border-radius: 30px; /* On arrondi les angles */
    border: 2px solid rgba(255, 255, 255, 0.1); /* on met de très fins bords */
    transition: all 0.3s ease; /* si je change de couleur ou de position, ça prend 0.3s à se voir, ça rajoute du style eheh */
    font-weight: 500;
}

.btn-glass:hover { /* :hover veut dire "quand la souris passe dessus" */
    background: rgba(255, 255, 255, 1); /* Devient blanc */
    color: #333; /* Texte devient foncé */
    transform: translateY(-3px); /* Les boites remontes de 3px */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

footer {
    background-color : rgba(150,150,150,0.7);
    padding: 10px 20px;
    width : 100%;   
    font-size : 1.2rem; 
    display : flex; 
    gap : 20px; 
    margin-top: auto;
}

footer a{
    color:#000000;
    text-decoration: underline;
}

a:hover{
    color : rgba(255,255,255,1);
    font-weight : bold; 
}