html, body {
    height : 100%; 
    margin : 0; 
    padding : 0;  
}
body {
    background-image : url(../image/Umons_background.jpg); 
    background-color : whitesmoke; 
    background-repeat: no-repeat;
    background-size : cover; 
    color : black; 
    display : flex; /*utile pour pouvoir pousser le footer en bas de page en conjonction avec flex-direction*/
    flex-direction: column;
    min-height : 100vh; 
}
.elms-sans-text {
  font-family : "Elms Sans", sans-serif;
  font-optical-sizing : auto;
  font-weight : normal;
  font-style : normal;
}
main {
    flex : 1; 
    display : flex; 
    flex-direction: column;
    overflow : hidden;  
    min-height : 0; 
}

h1 {
    font-size : 4rem;  
    text-align : center; 
}

h2 {
    margin-left : 5%; 
    font-size : 2.5rem; 
    text-align: center;
}

form {
    height : 250px; 
    margin : 1rem 5%; 
    display : flex; 
    flex-direction : column; 
    justify-content : space-evenly; 
    box-sizing : border-box;  
    background-color : rgba(150,150,150,0.7);
    border-radius : 20px; 
    border : 5px solid black; 
    overflow-y :auto; 
}
form .champ {
    display : flex; 
    flex-direction : row; 
    justify-content : flex-start; 
    gap : 20px; 
    font-size : 2rem;
    align-items : center; 
    padding-left : 15%; 
    margin : 5px 0; 
}
form .boutton {
    display : flex; 
    flex-direction : row; 
    justify-content : center;
    margin-bottom : 20px; 
}
form .boutton input[type = "submit"] {
    border-radius : 20px;  
    font-size : 1.5rem; 
    background-color : white; 
}
form .boutton input[type = "submit"]:hover {
    background-color : whitesmoke; 
}
.catalogue {
    flex: 1;             /* prend l’espace restant dans main */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 2rem 5%;
    padding: 20px;
    border-radius: 20px;
    border: 5px solid black;
    background-color: rgba(150,150,150,0.7);
}
select {
    border-radius: 20px;
    font-size: 1.5rem;
    border : 3px solid black; 
}
select:hover {
    background-color : whitesmoke; 
}
.Appareil {
    display : flex; 
    flex-direction : column; 
    box-sizing : border-box; 
    justify-content: space-evenly;
    margin : 0 5%; 
    border : 5px solid black; 
    border-radius : 20px;  
    background-color : rgba(150,150,150,0.7);
}
.Appareil .contenu{
    display : flex; 
    align-items : center; 
    height : 20%; 
    font-size : 2rem;  
    flex : 1;
    padding-left: 2%;
}
footer {
    flex-shrink: 0;           /* ne se réduit pas */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: rgba(150,150,150,0.7);
    font-size: 1.5rem;
}
footer a {
    text-decoration: none;
    color: black;
}



a:link {
    color : rgba(000,255,255,1); 
    font-weight : bold; 
}
a:visited {
    color : rgba(000,255,255,1);
    font-weight : bold; 
}
a:hover {
    color : rgba(255,255,255,1);
    font-weight : bold; 
}
a {
    text-decoration: none;
}
form::-webkit-scrollbar {
    width: 8px;
}

form::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.3);
    border-radius: 10px;
}

form::-webkit-scrollbar-track {
    background: transparent;
}
.catalogue::-webkit-scrollbar {
    width: 8px;
}

.catalogue::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.3);
    border-radius: 10px;
}

.catalogue::-webkit-scrollbar-track {
    background: transparent;
}
.Appareil::-webkit-scrollbar {
    width: 8px;
}

.Appareil::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.3);
    border-radius: 10px;
}

.Appareil::-webkit-scrollbar-track {
    background: transparent;
}

