@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{


    font-family: "Poppins", sans-serif;

}
h1{
    text-align: center;
}
a:link{
    color : rgb(0, 0, 0);
}
a:visited {  
    color : rgb(0, 0, 0); 
}
.erreur{

    font-size: 15px;
    color: red;
}