html, body { /*A continuer je déteste le front-end*/
    height : 100%; 
    margin : 0; 
    padding : 0; 
}
body {
background-image: url("../image/Umons_background.jpg");
background-repeat : no-repeat; 
background-size : cover; 
background-position : center; 
display : flex; /*utile pour pouvoir pousser le footer en bas de page en conjonction avec flex-direction*/
flex-direction: column;
}
.elms-sans-text {
  font-family : "Elms Sans", sans-serif;
  font-optical-sizing : auto;
  font-weight : normal;
  font-style : normal;
}
h1 {
    font-size : 50px ; 
    text-align : center; 
    font-weight : bold; 
}
form {
    position : absolute; 
    top : 25%;
    bottom : 25%;  
    left : 10%; 
    right : 10%; 
    background-color : rgba(150,150,150, 0.8); 
    border : 5px solid black;  
    border-radius : 20px; 
    padding : 5%;  
}

form label {
    display : inline-block;
    border : 5px solid black;  
    width : 50%; 
    height : 15%; 
    font-size : 30px;  
    position : relative; 
    left : 10%;  
}
form input {
    position : relative; 
    display : block; 
    border : 5px solid black; 
    right : 0%; 
    height : 10%;  
}
form input[type = "submit"] {
    display : inline-block; 
    position : absolute; 
    left : 50%; 
    width : 60px; 
    height : 30px; 
}